<div class="row">
  <h5 class="center">
    <%- Message %>
  </h5>
  <p>
    <a href="/addEmployee" class="btn-floating blue pulse m-auto" data-tooltip="Add HSBC Staff">
      <i class="material-icons">add</i>
    </a>
  </p>
  <% for(var user of users ) { %>

  <div class="col s12 l3">
    <div class="card">
      <div class="card-content">
        <i class="material-icons right">account_circle</i>
        <span class="card-title truncate"> <b> <%- user.fullName %></b></span>
        <p><b>Salary:</b> N <%- user.salary %></p>
        <p><b>Age:</b> <%- user.age %></p>
        <p><b>State:</b> <%- user.state %></p>
      </div>
      <div class="card-action">
        <!--? Update button-->

        <a href="/<%- user._id %>/update" class="pink-text"><i class="material-icons right">edit</i></a>
        <form method="POST" action="/delete/">
          <!--? Delete button-->
          <a href="/delete/<%- user._id %>" class="pink-text"
            ><i class="material-icons center-align">delete</i></a
          >
        </form>
      </div>
    </div>
  </div>

  <%} %>
</div>
<script>
  $(document).ready(function () {
    $('.tooltipped').tooltip();
  });
</script>
